<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Details</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href='http://fonts.useso.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
	<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all" />
	<script th:src="@{/js/jquery.min.js}"></script>
	<link type="text/css" rel="stylesheet" th:href="@{/css/JFGrid.css}" />
	<link type="text/css" rel="stylesheet" th:href="@{/css/JFFormStyle-1.css}" />
	<script type="text/javascript" th:src="@{/js/JFCore.js}"></script>
	<script type="text/javascript" th:src="@{/js/JFForms.js}"></script>
		<!-- Set here the key for your domain in order to hide the watermark on the web server -->
		<script type="text/javascript">
			(function() {
				JC.init({
					domainKey: ''
				});
				})();
		</script>
<!--nav-->
<script>
		$(function() {
			var pull 		= $('#pull');
				menu 		= $('nav ul');
				menuHeight	= menu.height();

			$(pull).on('click', function(e) {
				e.preventDefault();
				menu.slideToggle();
			});

			$(window).resize(function(){
        		var w = $(window).width();
        		if(w > 320 && menu.is(':hidden')) {
        			menu.removeAttr('style');
        		}
    		});
		});
</script>
</head>
<body>
<!-- start header -->
<div class="header_bg">
<div class="wrap">
	<div class="header">
		<div class="logo">
			<a th:href="@{'/trans/toIndex?userId='+${userId}}"><img th:src="@{/img/logo.png}" alt=""></a>
		</div>
		<div class="h_right">
			<!--start menu -->
			<ul class="menu">
				<li class="active"><a th:href="@{/jump/index}"></a></li>
				<li><a th:href="@{/jump/rooms}"></a></li>
				<li><a th:href="@{/jump/contact}"></a></li>
				<div class="clear"></div>
			</ul>

		</div>
		<div class="clear"></div>
		<div class="top-nav">
		<nav class="clearfix">
				<ul>
				<li class="active"><a href="index.html">hotel</a></li> 
				<li><a href="rooms.html">rooms & suits</a></li> 
				<li><a href="reservation.html">reservation</a></li> 
				<li><a href="activities.html">activities</a></li> 
				<li><a href="contact.html">contact</a></li>
				</ul>
				<a href="#" id="pull">Menu</a>
			</nav>
		</div>
	</div>
</div>
</div>
<!--start main -->
<div class="main_bg">
<div class="wrap">
	<div class="main">
		<div class="details">
			<h2>套房简介</h2>
			<div class="det_pic">
				  <img th:src="@{/img/suit.jpg}" alt="" />
			</div>
			<div class="det_text">
				<p class="para">花梨木式的家具陈设配以工艺精湛的硬木雕花，金箔红柱和晶莹夺目的莲式水晶吊顶，时尚典雅的桑拿浴室配以24小时贴心管家服务，奢华与尊贵的完美诠释，彰显出皇尊贵族般的非凡气派。 </p>
				<p class="para"> 影音娱乐•免费宽带或wifi、液晶电视、有线频道
					◎商务及文具 国内外长途电话、语音留言
					电子保险柜 写字桌、信纸、便签、圆珠笔
					◎洗浴及个人护理
					宝华专用洗浴用品 独立浴盆、淋浴花洒、浴袍、多款睡枕选择 •烫熨设施、吹风机
					◎饮品小食&餐饮 咖啡/茶冲煮器皿
					迷你吧 矿泉水 尊享咖啡厅免费早餐（自助）两份！
				</p>
				<div class="read_more">
					<a th:href="@{'/trans/toIndex?userId='+${userId}}">立即去预定</a>
				</div>
			</div>
				</div>
			</div>
</div>
</div>		
<!--start footer -->
<div class="footer_bg">
<div class="wrap">
<div class="footer">
			<div class="copy">
				<p class="link"><span>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></span></p>
			</div>
			<div class="f_nav">
				<ul>
					<li><a th:href="@{'/trans/toIndex?userId='+${userId}}">hotel</a></li>
					<li><a th:href="@{'/trans/toRoom?userId='+${userId}}">rooms & suits</a></li>
					<li><a th:href="@{'/trans/toContact?userId='+${userId}}">contact</a></li>
				</ul>
			</div>
			<div class="soc_icons">
				<ul>
					<li><a class="icon1" href="#"></a></li>
					<li><a class="icon2" href="#"></a></li>
					<li><a class="icon3" href="#"></a></li>
					<li><a class="icon4" href="#"></a></li>
					<li><a class="icon5" href="#"></a></li>
					<div class="clear"></div>
				</ul>	
			</div>
			<div class="clear"></div>
</div>
</div>
</div>		
</body>
</html>