<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard Template for Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/table.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/dashboard.css" rel="stylesheet">
    <style type="text/css">
        /* Chart.js */

        @-webkit-keyframes chartjs-render-animation {
            from {
                opacity: 0.99
            }
            to {
                opacity: 1
            }
        }

        @keyframes chartjs-render-animation {
            from {
                opacity: 0.99
            }
            to {
                opacity: 1
            }
        }

        .chartjs-render-monitor {
            -webkit-animation: chartjs-render-animation 0.001s;
            animation: chartjs-render-animation 0.001s;
        }
    </style>
    <script type="text/javascript" th:inline="javascript">
        function queryOrder(value){
            if (value=="all"){
                /*<![CDATA[*/
                var orderhref= /*[[@{/orders/adminOrderPage}]]*/"adminOrderPage/";
                /*]]>*/
                location.href=orderhref;
            }
            if (value=="double"){
                /*<![CDATA[*/
                var orderhref= /*[[@{/orders/doubleOrders}]]*/"doubleOrders/";
                /*]]>*/
                location.href=orderhref;
            }
            if (value=="standard"){
                /*<![CDATA[*/
                var orderhref= /*[[@{/orders/standardOrders}]]*/"standardOrders/";
                /*]]>*/
                location.href=orderhref;
            }
            if (value=="perfect"){
                /*<![CDATA[*/
                var orderhref= /*[[@{/orders/perfectOrders}]]*/"perfectOrders/";
                /*]]>*/
                location.href=orderhref;
            }

        }
    </script>
</head>

<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="http://getbootstrap.com/docs/4.0/examples/dashboard/#">管理员界面</a>
    <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link"  th:href="@{/jump/adminLogin}">退出</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/userinformation/adminUserPage}">
                            用户管理
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/orders/adminOrderPage}">
                            预订管理
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/room/adminRoomPage}">
                            房屋信息
                        </a>
                    </li>

                </ul>



            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <h2>预定信息(按入住时间排序)</h2>
            <div style="padding-top: 40px">
                <form class="form-inline" th:action="@{/orders/query}" >
                    <div style="width: 190px"></div>
                    <input type="text" name="userId" class="form-control" placeholder="请输入用户ID进行查询">
                    <div style="height: 8px"></div>
                    <div style="width: 70px"></div>
                    <select id="roomType" name="roomType" th:selected="${roomType}" onchange="queryOrder(this.value)" class="frm-field required">
                        <option value="all">全部</option>
                        <option value="standard">单人房</option>
                        <option value="double">双人房</option>
                        <option value="perfect">套房</option>
                    </select>
                    <div style="height: 8px"></div>
                    <div style="width: 100px"></div>
                    <input type="text" name="roomNum" class="form-control" placeholder="请输入房间号进行查询">
                    <div style="height: 8px"></div>
                    <div style="width: 50px"></div>
                    <input type="submit" value="查询" class="btn-primary">
                </form>
            </div>
            <div style="height: 25px"></div>
            <div class="table-wrapper">
                <table class="fl-table">
                    <thead>
                    <tr>
                        <th>预约用户ID</th>
                        <th>预约房间类型</th>
                        <th>预约房间号</th>
                        <th>入住时间</th>
                        <th>离店时间</th>
                        <th>退订</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="order : ${orders}">
                        <td th:text="${order.getUserId()}"></td>
                        <td th:text="${order.getRoomType()}"></td>
                        <td>
                            <a th:text="${order.getRoomNum()}" th:href="@{'/roomsocket/roomDetail?roomNum='+${order.getRoomNum()}}"></a>
                        </td>
                        <td th:text="${order.getStartDay()}"></td>
                        <td th:text="${order.getEndDay()}"></td>
                        <td>
                            <a th:href="@{'/orders/adminDisOrder?userId='+${order.getUserId()}+'&roomType='+${order.getRoomType()}+'&roomNum='+${order.getRoomNum()}+'&startDay='+${order.getStartDay()}+'&endDay='+${order.getEndDay()}}">退订</a>
                        </td>
                    </tr>
                    <tbody>

                </table>
                <br/><br/><br/>
                <p style="text-align: center;color: #ff0000" th:text="${queryMessage}" th:if="${not #strings.isEmpty(queryMessage)}"/>
                <br/>
            </div>
        </main>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="/js/jquery-3.2.1.slim.min.js"></script>
<script type="text/javascript" src="/js/popper.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>

<!-- Icons -->
<script type="text/javascript" src="/js/feather.min.js"></script>
<script>
    feather.replace()
</script>

<!-- Graphs -->
<script type="text/javascript" src="/js/Chart.min.js"></script>
<script>
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
        type: 'line',
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: false
                    }
                }]
            },
            legend: {
                display: false,
            }
        }
    });
</script>

</body>

</html>